* {
    font-family: Helvetica !important;
    color: rgb(42, 42, 42);
}

button {
    border-radius: 7px;
    border-style: solid;
}

h2, h3 {
    padding-bottom: 5px;
}

p {
    padding-bottom: 5px;
}

li {
    padding: 5px;
}

ul > ul > li {
    list-style-type: circle;
}

.reveal .slide-number {
    margin-right: 120px;
    margin-bottom: 40px;
    font-size: 24pt;
    background: rgba(211, 211, 211, 0.699);
    border-radius: 7px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#range {
    padding: 5px 10px;
    margin-left: 20px;
    font-size: 24px;
    background: #D3D3D3;
    border-radius: 7px;
}

#img {
    margin-top: 10px;
    margin-bottom: 0px !important;
    width: 80%;
    border-radius: 7px;
}
